Upload
<div class="container">
  <div class="row">
    <div class="col">
<h1>Type the Movie Name </h1>
      <hr>
<form action="/movie/recommend" method="POST" enctype="multipart/form-data">
<div class="form-group">
          <label>Movie Name with year as Fantastic (2005)</label>
          <div class="custom-file">
            <input type="text" class="custom-file-input" name="text" id="text">
          </div>
        </div>
<button type="submit" class="btn btn-primary">Enter</button>
</form>

</div>
 </div>
</div>
